@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container-info{
        @apply transition-all;
    }

    .checkbox {
        @apply px-3;
        @apply bg-gray-200;
        @apply rounded-xl;
        @apply flex;
        @apply w-10;
        @apply h-5;
        @apply rounded-3xl;
        @apply relative;
        @apply transition-all duration-150; 
    }
    .checkbox::before{
        @apply opacity-100;
        @apply scale-100;
    }
    .checkbox::before,
    .checkbox::after{
        content: '';
        @apply absolute flex;
        @apply w-1/2 h-full;
        @apply bg-gray-400;
        @apply rounded-full;
        @apply left-0;
        @apply transition-all duration-150; 
        @apply cursor-pointer;
    }

    .input-check:checked ~ .checkbox {
        @apply bg-indigo-200;
    }

    .input-check:checked ~ .checkbox::after {
        @apply bg-indigo-800;
        @apply left-1/2;
        @apply z-30;
    }

    .input-check:checked ~ .checkbox::before{
        @apply opacity-40;
        @apply scale-105;
        @apply z-10;
        @apply bg-indigo-800;
        @apply left-1/2;
    }
}
